doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  header
    h2 Inventory Application
    .links
      a(href="/inventory") Home
      a(href="/inventory/category") Categories 
      a(href="/inventory/item") Items
  block content
